.TimeWrapper {
    margin-top: 30vh;
    width: 600px;
    margin-left:auto;
    margin-right: auto;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.4);
    padding: 1rem 0;
    font-size: 100px;
    }

.bi-clock {
    width: 60px;
    height: 80px;
    margin-right: 60px;
}
