.TimeWrapper {
    margin-top: 30vh;
    width: 600px;
    margin-left:auto;
    margin-right: auto;
    background-color: black;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.4);
    padding: 1rem 0;
    }
    label {
        margin-bottom: 0.5rem;
    }
    input {
        width: 100px;
        margin-right: 1rem;
        outline: none;
        border: none;
        font-size: 3.5rem;
        font-weight: 600;
        text-align: center;
        padding: 0rem 0.5rem;
        border-radius: 5px;
    }
    input:hover{
        background-color: grey;
    }

